/*1. Global */
/*2. Selectors */
/*3. Sections */
/*4. Functions */
/*5. Misc */


/*1. Global */
* {
    box-sizing: border-box;
}

body {
    background-color:hsl(30, 38%, 92%) ;
}

/*2. Selectors */
h2 {
    font-family: 'Fraunces', serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}




/*3. Sections */

#container {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 25vh;
}

.product-card {
    display: flex;
    flex-flow: row;
    max-width: 600px;
    max-height: 500px;
    border-radius: 15px;
    align-items: center;
    justify-self: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 10;
    background-color: hsl(0, 0%, 100%);
    overflow:hidden;

    }

.card-body {
    background-color: hsl(0, 0%, 100%);
    text-align: start;
    flex: 0 1 50%;
    width: 50%;
    height: 450px;
    padding: 3px 30px 3px 30px;
    display: flex;
    flex-direction: column;
    
}    



.card-image {
   flex: 0 1 50%;
   width: 50%;
   height: 450px;
   object-fit: cover;
     
}

.price {
    color: rgb(124,162,148);
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 500;
    width: 40%;
    display: inline;

}

.full-price {
    text-decoration: line-through;
    opacity: 80%;
    display: inline;
    width: 40%;
}

.item-name h2 {
    font-size: 700;
}

/*4. Functions */

.button {
    background-color: rgb(124,162,148);
    border-radius: 10px;
    width: 100%;
    padding: 3px 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    white-space: nowrap;
    vertical-align: middle; 
    line-height: 40px;
}

.button:active {
    background-color:rgb(29,62,51);
}


/*5. Misc */

